body {
	font-family: 'Roboto', sans-serif;
}

h1 a {
	color: #3BB873;
}

.Header {
	background-color: #384137;
	text-align: center;
	padding: 2em 1em;
}

.Header-title{
	color: #94ED88;
	font-size: 2em;
	text-decoration: none;
}
.Post {
	padding: 0 8em;
}

.Post-title {
	margin: 1em 0 0 0;
}
.Post-link {
	text-decoration: none;
}
.Post-author {
	font-size: .8em;
	color: #828282;
}
.date {
	float: right;
	color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 70px;
}

.post h1 a, .post h1 a:visited {
    color: #000000;
}
